<div id="content-container">
	<div id="page-title">
		<h1 class="page-header text-overflow">Dashboard</h1>

		<div class="searchbox">
			<div class="input-group custom-search-form">
				<input type="text" class="form-control" placeholder="Search..">
				<span class="input-group-btn">
					<button class="text-muted" type="button"><i class="fa fa-search"></i></button>
				</span>
			</div>
		</div>
	</div>
	<ol class="breadcrumb">
		<li><a href="#">Home</a></li>
		<li><a href="#">Library</a></li>
		<li class="active">Data</li>
	</ol>

	<div id="page-content">
		
		<div class="row">
			<div class="col-lg-12">
		
				SOMETHING
		
			</div>
			
		</div>
	</div>


</div>